@model List<PRG_4_PROJEK.Models.DaftarKegiatanModel>
@{
    Layout = "_LayoutMahasiswa";
    ViewData["Title"] = "Daftar Kegiatan";
    int no = 1;
}
<style>
  
    .card-text {
        font-size: 40px;
        color: black;
    }

    
    .card-section2 {
        width: 1600px;
        display: flex;
        justify-content: center;
        margin-left :40px;
    }

    .section {
        background-image: url('content/images/IMG_Background.jpg');
        background-size: 100%;
    }
</style>
@{
    var httpContext = ViewContext.HttpContext;
}
<section class="section">
    <div class="row">
        <div class="col-lg-12">
            <div class="card card-section2">
                <div class="card-body">
                    <a class="btn btn-primary bi-plus float-end" asp-action="Create">Tambah(+)</a>
                    <h5 class="card-title">Pendaftaran Kegiatan</h5>
                    
                    <hr />
                    @if (TempData["SuccessMessage"] != null)
                    {
                        <script>
                            swal({
                                title: "Sukses!",
                                text: "@TempData["SuccessMessage"]",
                                icon: "success",
                                button: "OK",
                            });
                        </script>
                    }

                    <p></p>
                    <table class="table datatable">
                        <thead>
                            <tr>
                                <th scope="col"><strong>No</strong></th>
                                <th scope="col"><strong>NIM</strong></th>
                                <th scope="col"><strong>Nama Mahasiswa </strong></th>
                                <th scope="col"><strong>Nama Kegiatan</strong></th>
                                <th scope="col"><strong>Status</strong></th>
                                <th scope="col"><strong>Aksi</strong></th>
                            </tr>
                        </thead>
                       <tbody>
                            @foreach (var dkegiatan in Model)
                            {
                                <tr data-deskripsi-penolakan="@dkegiatan.deskripsi_penolakan">
                                    <td>@(no++)</td>
                                    <td>@dkegiatan.nim</td>
                                    <td>@httpContext.Session.GetString("Nama").</td>
                                    <td>
                                        @foreach (var pp in ViewBag.kegiatanList)
                                        {
                                            @if (dkegiatan.id_kegiatan == @pp.id_kegiatan)
                                            {
                                                <span>@pp.deskripsi</span>
                                            }
                                        }
                                    </td>
                                    <td>@dkegiatan.status</td>
                                    <td>
                                        @if (dkegiatan.status == "Disetujui")
                                        {
                                            <button class="btn btn-sm btn-primary edit-button" data-id="@dkegiatan.id_daftarkegiatan">
                                                <i class="fa-solid fa-arrow-up"></i>
                                            </button>
                                        }
                                        else if (dkegiatan.status == "Ditolak")
                                        {
                                            <button class="btn btn-sm btn-warning ulang-button" data-id="@dkegiatan.id_daftarkegiatan" data-kegiatan-id="@dkegiatan.id_kegiatan" data-kegiatan-tolak="@dkegiatan.deskripsi_penolakan">
                                                <i class="fas fa-edit"></i>
                                            </button>
                                        }
                                        else if (dkegiatan.status == "Menunggu Persetujuan PIC")
                                        {
                                            <button class="btn btn-sm btn-danger delete-button" data-id="@dkegiatan.id_daftarkegiatan">
                                                <i class="fas fa-trash"></i>
                                            </button>
                                        }


                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="confirmModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Pengajuan Ulang</h5>
                    <a href="#" class="btn-close" data-dismiss="modal"></a>
                </div>
                <div class="modal-body">
                    <p>Apakah Anda yakin ingin Mengajukan Ulang pendaftaran ini?</p>

                    <!-- Form for inputting deskripsi_penolakan -->
                    <form id="deskripsiPenolakanForm">
                        <div class="mb-3">
                            <label for="deskripsi_penolakan" class="form-label">Deskripsi Penolakan : <span id="kegiatanIdPlaceholder"></span></label>
                            <textarea class="form-control" id="deskripsi_penolakan" name="deskripsi_penolakan" rows="3" id="kegiatanIdPlaceholder" readonly></textarea>
                        </div>
                        <button type="button" class="btn btn-primary" id="confirmAcceptButton">Terima</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</section>
<br />
<br />
<br />
<br />


<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js" integrity="sha512-GsLlZN/3F2ErC5ifS5QtgpiJtWd43JWSuIgh7mbzZ8zBps+dvLusV+eNQATqgA/HdeKFVgA5v3S/cIrLF7QnIg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
  
    $(document).ready(function () {
        $(".delete-button").click(function () {
            var akunId = $(this).data("id");

            Swal.fire({
                title: "Batalkan Pendaftaran?",
                text: "Apakah anda yakin ingin membatalkan pendaftaran ini?",
                icon: "warning",
                confirmButtonText: "Iya",
                showDenyButton: true,
                denyButtonText: "Tidak",
                dangerMode: true,
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        url: "/DaftarKegiatan/Delete/" + akunId,
                        type: "POST",
                        success: function (data) {
                            if (data.success) {
                                Swal.fire("Sukses!", data.message, "success").then(() => {
                                    // Refresh halaman setelah pengguna menekan tombol "OK"
                                    location.reload();
                                });
                            } else {
                                Swal.fire("Gagal!", data.message, "error");
                            }
                        },
                        error: function () {
                            swal("Error", "Terjadi kesalahan saat menghapus Mahasiswa.", "error");
                        }
                    });
                }
            });
        });
    });

    $(document).ready(function () {
        $('#myTable').DataTable();
    });

    $(document).ready(function () {
        $(".edit-button").click(function () {
            var akunId = $(this).data("id");
            console.log(akunId);

            Swal.fire({
                title: "Pengajuan Form Jam Plus",
                text: "Apakah anda yakin Melakukan pengajuan?",
                icon: "info",
                confirmButtonText: "Iya",
                showDenyButton: true,
                denyButtonText: "Tidak",
                dangerMode: true,
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        url: "/DaftarKegiatan/PengajuanJP/" + akunId,
                        type: "POST",
                        success: function (data) {
                            if (data.success) {
                                Swal.fire("Sukses!", data.message, "success").then(() => {
                                    // Refresh halaman setelah pengguna menekan tombol "OK"
                                    location.reload();
                                });
                            } else {
                                Swal.fire("Gagal!", data.message, "error");
                            }
                        },
                        error: function () {
                            swal("Error", "Terjadi kesalahan saat menghapus Mahasiswa.", "error");
                        }
                    });
                }
            });
        });
    });

    $(document).ready(function () {
        $(".ulang-button").click(function () {
            var akunId = $(this).data("id");
            var kegiatanId = $(this).data("kegiatan-id");
            var sss = $(this).data("kegiatan-tolak");
            var deskripsiPenolakan = $(this).closest('tr').data('deskripsi-penolakan');
            console.log(akunId);
            console.log(kegiatanId);
            console.log(deskripsiPenolakan);

            // Set the content of the modal based on kegiatanId
            $("#confirmAcceptButton").data("id", akunId);
            $("#confirmAcceptButton").data("kegiatanId", kegiatanId);
            $("#confirmAcceptButton").data("sss", sss);
            $("#deskripsi_penolakan").val(deskripsiPenolakan);

            // Show the modal
            $('#confirmModal').modal('show');
        });

        // Handle click on the "Terima" button in the modal
        $("#confirmAcceptButton").click(function () {
            var akunId = $(this).data("id");
            var kegiatanId = $(this).data("kegiatanId");
            var sss = $(this).data("sss");
            var deskripsiPenolakan = $("#deskripsi_penolakan").val();
            console.log(akunId);
            console.log(kegiatanId);
            console.log(deskripsiPenolakan);
            $("#deskripsi_penolakan").val(deskripsiPenolakan);

            $.ajax({
                url: "/DaftarKegiatan/PengajuanJP/" + akunId,
                type: "POST",
                data: { id: akunId, deskripsi_penolakan: deskripsiPenolakan },
                success: function (data) {
                    if (data.success) {
                        Swal.fire("Sukses!", data.message, "success").then(() => {
                            // Refresh the page after the user clicks "OK"
                            location.reload();
                        });
                    } else {
                        // Handle the error case
                        Swal.fire("Gagal!", data.message, "error");
                    }
                },
                error: function () {
                    // Handle the error case
                    console.error("An error occurred during the request");
                }
            });

            // Close the modal after the user clicks the "Terima" button
            $('#confirmModal').modal('hide');
        });
    });

    $('#confirmModal').on('hidden.bs.modal', function () {
        // Clear the textarea when the modal is closed
        $('#deskripsi_penolakan').val('');
    });
</script>
