@{
    Layout = "_LayoutMahasiswa";
    ViewData["Title"] = "Halaman";
    int no = 1;
}

<style>
    .card {
        width: 510px;
        height: 200px;
    }

    .card-text {
        font-size: 40px;
        color: black;
    }

    .section {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .card-section2 {
        width: 1600px;
        height: 200px;
    }

    .icon {
        font-size: 5em;
        margin: 10px;
        padding: 40px;
    }
</style>

<body style="background-color: lightgrey">
    @{
        var httpContext = ViewContext.HttpContext;
    }

    <section class="section">
        <div class="row">
            <div class="col-lg-12">
                <div class="row justify-content-center">

                    <!-- Sales Card - Jam Plus -->
                    <div class="col-xxl-4 col-md-8">
                        <div class="card info-card sales-card">
                            <div class="card-body">
                                <h5 class="card-title">Jam Plus</h5>
                                <div class="d-flex align-items-center">
                                    <div class="ps-3">
                                        <p class="card-text"><strong>@httpContext.Session.GetString("JP")</strong></p>
                                    </div>
                                    <div class="filter">
                                        <a class="icon" href="#">
                                            <i class="fas fa-clock"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Sales Card - Jam Minus -->
                    <div class="col-xxl-4 col-md-8">
                        <div class="card info-card sales-card">
                            <div class="card-body">
                                <h5 class="card-title">Jam Minus</h5>
                                <div class="d-flex align-items-center">
                                    <div class="ps-3">
                                        <p class="card-text"><strong>@httpContext.Session.GetString("JM")</strong></p>
                                    </div>
                                    <div class="filter">
                                        <a class="icon" href="#">
                                            <i class="far fa-clock"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Sales Card - Soft Skill -->
                    <div class="col-xxl-4 col-md-8">
                        <div class="card info-card sales-card">
                            <div class="card-body">
                                <h5 class="card-title">Soft Skill</h5>
                                <div class="d-flex align-items-center">
                                    <div class="ps-3">
                                        <p class="card-text"><strong>0</strong></p>
                                    </div>
                                    <div class="filter">
                                        <a class="icon" href="#">
                                            <i class="far fa-clone"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <br />
    <br />

    <section class="section">
        <div class="row">
            <div class="col-lg-12">
                <div class="card card-section2">
                    <div class="card-body">
                        <hr />
                        <p></p>
                        <table class="table datatable">
                            <thead>
                                <tr>
                                    <th scope="col"><strong>No</strong></th>
                                    <th scope="col"><strong>NIM</strong></th>
                                    <th scope="col"><strong>Nama</strong></th>
                                    <th scope="col"><strong>Jenis Kelamin</strong></th>
                                    <th scope="col"><strong>Jam Plus</strong></th>
                                    <th scope="col"><strong>Jam Minus</strong></th>
                                    <th scope="col"><strong>Aksi</strong></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>@(no++)</td>
                                    <td>@httpContext.Session.GetString("Nim")</td>
                                    <td>@httpContext.Session.GetString("Nama")</td>
                                    <td>@httpContext.Session.GetString("JK")</td>
                                    <td>@httpContext.Session.GetString("JP")</td>
                                    <td>@httpContext.Session.GetString("JM")</td>
                                    <td>
                                        <button class="btn btn-primary" type="button" data-bs-toggle="collapse"
                                                data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                            <i class="fas fa-info"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
